body{
	background-color:#c3cdff;
}

 .descripcion{
	width: 95%;
    border-radius: 5px;
    border: 2px solid #ccc387;
    background-color: #efefec;
    margin-left: 30px;
}

.campos{
	border-radius: 5px;
    border: 2px solid #ccc387;
    background-color: #efefec;
    width: 100%;
    height: 35px;
}

.titulo_body{
	margin-left:15px;
}

.boton_header{
	font-size: 18px;
}

.campos:hover, .descripcion:hover{
	border:2px solid #716f5e;
}

.botones{
	float: right;
	margin-right:10px;
	 width: 90px;
	margin-top:10px;
}

.campo{
	display: inline-table; 
	margin-top:20px;
}

.modal_eliminar{
	float: inherit;
}

.img_noticia{
	width: 100%;
    max-height: 300px;
    min-height: 300px;
    border: 1px solid;
    border-radius: 5px;
}

.title_noticia{
	text-align:center;
}

.noticias{
	margin-top: 20px;
}

.fotoEditar img{
	display:block;
	margin:auto;
	width: 70%;
	max-height: 450px;
	margin-bottom:15px;
	border:1px solid;
	border-radius:5px;
}

.body_noticia{
	text-align:justify;
}
